<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> Curso </title>
    
</head>


<body>
    <h1> Meu Portifolio </h1>
    <h2> Tecnologias aprendidas no curso </h2>
    
    
    <ul>
        <li> Python </li>
        <li> Flask </li>
        <li> HTML </li>
        <li> Java </li>
        <li> MySQL </li>
        <li> Git </li>
        <li>Github </li>
        

        <li>  <a href= "/" > Voltar </li>
    </ul>     
</body>
</html>

