<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> Portifolio </title>
    
</head>


<body>
    <h1> Miguelo </h1>
    <h2> Aqui você encontrará informações sobre meus projetos e habilidades. </h2>
    <h3> Projetos e detalhes </h3>
    
    <ul>
        <button>  <a href= "/PI" > PI </button>
        <button>  <a href= "/Sobre" > Sobre  </button>
        <button> <a href= "/Curso" > Curso </button>
    </ul>     

 




</body>
</html>    