<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> Portifolio </title>
    
</head>


<body>
    <h1> Menu</h1>
    <p> Aqui você encontrará informações sobre meus projetos e habilidades. </p>
    <h2> Projetos e detalhes </h2>
    
    <ul>
        <li>  <a href= "/PI" > PI </li>
        <li>  <a href= "/Sobre" > Sobre </li>
        <li>  <a href= "/Curso" > Curso </li>
    </ul>     

</body>
</html>    