<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> PI </title>
    
</head>


<body>
    <h1> Meu pi </h1>
    <h2> Olá! Bem-vindo ao meu PI. Aqui você encontrará informações sobre meu PI. </h2>
    <p> Meu Pi consiste em um programa que automatiza ordens de compra e venda de ativos no mercado financeiro , minha ideia é ele ser destinado para web e mobile no futuro </p>
    
        <button> <a href= "/" > Voltar </button>
           
    <button>  <a href= " https://github.com/MiguelAntoniox" > Mais projetos </button>
</body>
</html>    