<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> Projetos </title>
    
</head>


<body>
    <h1> Olá! Bem-vindo . Aqui você encontrará informações sobre meus projetos de programação. </h1>

    <h2> Projetos Desktop</h2>

    <h3> Gestor de Investimentos </h3>

    <p> É um sistema que deve acompanhar o preço de ativos do mercado financeiro e enviar ordens previamente agendadas </p>
    <img src= "{{ url_for('static', filename='imagens/IMGstoplo.png') }} " alt="Imagem do gestor de investimentos" width="500" height="300">


    <h3> Sistema de download de videos do youtube </h3>
    
    <p> É um sistema que faz download de videos ou audios do youtube na melhor qualidade disponivel </p>
    <img src= "{{ url_for('static', filename='imagens/IMGbaixador.png') }} " alt="Imagem do gestor de usuarios" width="500" height="300">

    <button><a href= "{{ url_for('index')}}" > Voltar</a></button> 
           
    <footer> <button>  <a href= " https://github.com/MiguelAntoniox" target="_blank" > Mais projetos </button></footer>
    <a href=></a>    
</body>
</html>    