<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial_scale=1.0">
    <title> Sobre </title>
    
</head>


<body>
    <h1> Meu Portifolio </h1>
    <h2>Olá! Aqui você encontrará informações sobre tecnologias que usei e prentendo usar no meu PI.</h2>
    <p> Tecnologias usadas sao : </p>
    <ul>
        <li> Python </li>
        <li> Mysql </li>
    
<p> Tecnologias que pretendo usar sao : </p>

    
        <li> Flask </li>
        <li> Javascript </li>
        <li> HTML </li>
        <li> CSS </li>   
    </ul>    


<ul>
    <button>  <a href= "/" > Voltar </button>
</ul>   
    
</body>
</html>    