<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semântica</title>
</head>
<body>

 
    <header>
        <h1>Meu Site</h1>
    </header>


    <nav>
        <a href="/">Página inicial</a> |
        <a href="/estrutura">Estrutura</a>
    </nav>

  
    <section>
     
        <article>
            <h2>Notícia</h2>
            <p>Texto da notícia...</p>
        </article>

       
        <aside>
            <p>Conteúdo relacionado (aside).</p>
        </aside>
    </section>

   
    <footer>
        © 2025 — Todos os direitos reservados
    </footer>

    <br>
    <a href="/">Voltar</a>

</body>
</html>